/* header section */
header {
	padding: 0 2rem;
	height: 122px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--background-color);
}
header img {
	width: 150px;
}

nav {
	display: flex;
}

nav a {
	padding: 20px 10px;
	font-size: 1.5em;
	text-align: center;
	color: var(--text-on-light);
}
h1 {
	text-align: center;
}

.hamburger {
	font-size: 1.4em;
	color: var(--text-on-light);
	cursor: pointer;
	display: none;
}

.hide {
	display: none;
}

@media screen and (max-width: 1000px) {
	header img {
		width: 125px;
	}

	header {
		position: relative;
	}

	nav {
		display: none;
	}

	.hamburger {
		display: block;
	}

	.show {
		display: block;
		position: absolute;
		top: 122px;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		z-index: 999;
		background-color: var(--background-color);
	}
}

@media screen and (max-width: 700px) {
	header img {
		width: 90px;
	}
}
