/* contact section */
.greg-pic img {
	width: 200px;
	height: 275px;
}
.heidi-pic img {
	width: 200px;
	height: 275px;
}
.jacob-pic img {
	width: 200px;
	height: 275px;
}

.profile-pic {
	width: 320px;
	height: 470px;
	margin: 10px;
	border-radius: 30px;
	background-color: #1ab369;
}

.profile-card {
  box-shadow: 5px 5px 10px #6f7364;
  max-width: 300px;
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  display: grid;
  align-items: center;
  text-align: center;
  font-family: arial;
  background: #bcd631;
  border-radius: 30px;
}

.profile-pic img {
	width: 260px;
	height: 363px;
	border-radius: 30px;
	margin-top: 25px;
}

/* section */
.names {
	font-family: 'Playpen Sans', arial, sans-serif;
	text-align: center;
	font-size: 1.4em;
	display: block;
}
